 *{
      margin:10px;
      padding:10px;
      font-size:120%;
      text-align:center;
      color:black;
      }
    
    body{
      background:green;
          }
    div{
      background:yellow;
               }
    article{
      background:brown;
          }
    section{
      background:blue;
      color:aqua;
          }
    p{
      background:red;
          }